html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #eee !important;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  overflow-x: hidden;
  padding-bottom: 100px;
}
h1, h5 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
}

.page__header--blue {
  background-color: #06038D !important;
}
.page__header .container h1.display-4 {
  font-weight: 500;
}
.nav-link {
  color: #fff !important;
}